{% extends 'base.html.twig' %}

{% block title %} Profile! {% endblock %}

{% block bread %}
→ Profile → Follows!
{% endblock %}

{% block body %}
{{ include ('profile/_profile_header.html.twig') }}
{{ include ('profile/_profile_tabs.html.twig') }}
<div class="mx-20">
    {{ include ('follower/_follower_list.html.twig', { users: user.follows }) }}
</div>
{% endblock %}