{% extends 'base.html.twig' %}

{% block title %}All Posts!
{% endblock %}

{% block body %}
    {% set filter = filter | default('desc') %}
	<div class="relative inline-block w-full text-gray-700">
		<div class="flex justify-between">
            <a href="{{ path('app_filter', {'filter': 'desc'}) }}" class="block w-full text-center h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline {% if filter == 'desc' %}bg-blue-500 text-white{% else %}bg-white{% endif %}">
				Date DESC
			</a>
			<a href="{{ path('app_filter', {'filter': 'asc'}) }}" class="block w-full text-center h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline {% if filter == 'asc' %}bg-blue-500 text-white{% else %}bg-white{% endif %}">
				Date ASC
			</a>
		</div>
	</div>

	{{ include("micro_post/_post_list.html.twig") }}


{% endblock %}
