{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="max-w-6xl w-full mx-auto mt-20 md:px-0 px-4">
            <h1 class="max-w-6xl mx-auto mb-6">Reset your password</h1>
            
            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email, {'attr': {'class':'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}}) }}
                <div class="mb-4">
                    <small>
                        Enter your email address, and we will send you a
                        link to reset your password.
                    </small>
                </div>

                <button class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
    </div>

{% endblock %}