@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url('/assets/images/bg-landing-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    height: 100vh;
    position: relative;
}

// @media(max-width: 576px) {
//     #hero {
//     background-image: url('/assets/images/creative.jpg');
//     background-position: center;
//     }

// }




// .display-none{
//     @apply hidden
// }