{% embed "shared/_tabs.html.twig" %}

    {% block tabs %}
        <div class="flex flex-row mx-auto">
            {% embed "shared/_tab.html.twig" with { route: 'app_settings_profile'} %} 
                {% block content %}
                    Your Profile Setting
                {% endblock %}
                {% block path %}
                    {{ path('app_settings_profile') }}
                {% endblock %}
            {% endembed %}

            {% embed "shared/_tab.html.twig" with { route: 'app_settings_profile_image', classes: 'ml-2' } %}
                {% block content %}
                    Set Your Avatar
                {% endblock %}
                {% block path %}
                    {{ path('app_settings_profile_image') }}
                {% endblock %}
            {% endembed %}
        </div>
    {% endblock %}

{% endembed %}
