<footer class="w-full flex justify-center items-center">
  <div class="w-full max-w-screen-xl flex flex-col justify-center items-center px-4">
    <div class="grid w-full grid-cols-1 gap-8 py-12 mx-auto md:grid-cols-2 lg:grid-cols-4">
      <div class="w-full">
        <p
          class="block mb-4 font-sans text-sm antialiased font-bold leading-normal uppercase opacity-50 text-blue-gray-900">
          Company
        </p>
        <ul class="space-y-1">
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              About Us
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Careers
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Our Team
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Projects
            </a>
          </li>
        </ul>
      </div>
      <div class="w-full">
        <p
          class="block mb-4 font-sans text-sm antialiased font-bold leading-normal uppercase opacity-50 text-blue-gray-900">
          Help Center
        </p>
        <ul class="space-y-1">
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Discord
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
      <div class="w-full">
        <p
          class="block mb-4 font-sans text-sm antialiased font-bold leading-normal uppercase opacity-50 text-blue-gray-900">
          Resources
        </p>
        <ul class="space-y-1">
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Newsletter
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Free Products
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Affiliate Program
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex flex-col items-center justify-center w-full py-4 md:flex-row md:justify-between">
      <p
        class="block mb-4 font-sans text-sm antialiased font-normal leading-normal text-center text-blue-gray-900 md:mb-0">
        © 2024 PopPost
        {# <a href="{{}}">PopPost</a>. All #}
        Rights Reserved.
      </p>
    </div>
  </div>
</footer>