{% extends "base.html.twig" %}

{% block body %}

<section id="hero">

    <div class="max-w-6xl mx-auto text-center">
        <img src="{{asset('images/PopPost_dark.png')}}" alt="" class="mx-auto"/>

        <h3 class="mb-8 text-4xl font-alata font-bold text-white md:text-5xl">
            Communicate with a community!
        </h3>
        <p class="max-w-3xl mx-auto mb-10 text-2xl text-white">
            PopPost is a vibrant social media platform designed to help you find and connect with like-minded individuals.
        </p>
        <div class="grid-cols-2 mx-auto flex flex-row justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4 sm:text-center sm:container  ">
            <a href="{{ path('app_login') }}" class="p-4 px-16 rounded-full shadow-lg bg-blue-500 duration-200 hover:opacity-80">
                Login
            </a>
            <a href="{{ path('app_register') }}" class="p-4 px-16 rounded-full shadow-lg bg-cyan-500  duration-200 hover:opacity-80">
                Register
            </a>
    
        </div>
    </div>

</section>






{# feature section #}
{# <section>
	<div> #}

    {# <div class="relative container flex flex-col max-w-6xl mx-auto my-32 px-6 text-gray-900 md:flex-row md:px-0">
        {# image #}
        {# <img src="{{asset('images/Poplogo.jpg')}}" alt="man sitting on floor watching his smartphone">

        <div class="top-48 pr-0 bg-white md absolute md:right-0 md:py-20 md:pl-20" >
			<h2 class="max-w-lg mt-10 mb-6 font-sans text-4xl text-center text-gray-900 uppercase md:text-5xl md:mt-0 md:text-left">
				Connect with your tribe !
			</h2>

			<p class="max-w-md text-justify md:text-left">
				PopPost is a vibrant social media platform designed to help you find and connect with like-minded individuals. 
				Whether you're passionate about niche hobbies, unique interests, or shared values, 
				PopPost makes it easy to discover communities and build meaningful connections. Our goal is to 
				create a space where you can engage with others who share your passions, fostering a sense of 
				belonging and collaboration. Join PopPost today and start finding your tribe!
			</p>
        </div>
    </div>  #}

{# </section> #}


{% endblock %}
